@layer utilities {
  a.link {
  @apply
    text-md
    font-type
    c-orange
    no-underline
    transition-all
    duration-500
    ease-in-out
  ;

    /*background-image: linear-gradient(transparent, transparent),
      linear-gradient(var(--orange), var(--orange));
        background-size: 0 2px, 100% 2px;
        background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;*/

    background-image: linear-gradient(90deg,var(--beige) 0%,var(--beige) 50%,var(--orange) 50%,var(--orange) 100%);
    background-origin: padding-box;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 200% 2px;
  }

  a.link:hover,
  a.link:focus {
    @apply c-beige;
    /*background-image: linear-gradient(transparent, transparent),
        background-size: 0 2px, 100% 2px;
        background-position: 100% 100%, 0 100%;*/
        background-position: 0% 95%;
  }



  a.link-2 {
  @apply
    no-underline
    transition-all
    duration-500
    ease-in-out
  ;

    background-image: linear-gradient(90deg, var(--orange) 0%, var(--orange) 50%, transparent 50%, transparent 100%);
    background-origin: padding-box;
    background-position: 100% 90%;
    background-repeat: no-repeat;
    background-size: 200% 2px;
    padding-bottom: 2px;
  }

  a.link-2:hover,
  a.link-2:focus {
    @apply c-orange;
    background-position: 0% 90%;
  }


  a.link--dark {
    @apply
      c-grey-dark
    ;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(var(--grey-dark), var(--grey-dark));
  }

  a.link--dark:hover,
  a.link--dark:focus {
    @apply c-green-dark;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(var(--green-dark), var(--green-dark));
  }


  a.link--dark-orange {
    @apply
      c-orange-dark
    ;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(var(--orange-dark), var(--orange-dark));
  }

  a.link--dark-orange:hover,
  a.link--dark-orange:focus {
    @apply c-green-dark;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(var(--green-dark), var(--green-dark));
  }

  a.link--light {
    @apply
      c-beige
    ;

    background-image: linear-gradient(transparent, transparent),
      linear-gradient(var(--beige), var(--beige));
  }

  a.link--light:hover,
  a.link--light:focus {
    @apply c-orange;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(var(--orange), var(--orange));
  }

  a.link-small {
    @apply
      text-sm
      font-sans
      text-current
      no-underline
      transition-all
      duration-300
      ease-in-out
    ;

    background-image: linear-gradient(transparent, transparent),
      linear-gradient(var(--beige), var(--beige));
    background-size: 0 1px, 0 1px;
    background-position: 0 100%, 0 100%;
    background-repeat: no-repeat;
  }

  a.link-small:hover,
  a.link-small:focus {
    @apply c-orange;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(var(--orange), var(--orange));
        background-size: 0 1px, 100% 1px;
        background-position: 100% 100%, 0 100%;
  }

}



p a {
  @apply
    underline
    relative
    inline-block
    transition-all
    duration-300
    ease-in-out
  ;

  &:hover,
  &:focus {
    @apply c-orange;
  }
}
/*
.link--pretty {
  @apply
    no-underline
    transition-all
    duration-300
    ease-in-out
  ;
  background-image: linear-gradient(0deg, transparent 20%, #000 20%, #000 22%, transparent 22%);

  &:hover,
  &:focus {
    @apply c-orange;
    background-image: linear-gradient(0deg, transparent 20%, #BF5700 20%, #BF5700 22%, transparent 22%);
  }
}*/