---
layout: default
---
{% assign feature = page.body.feature %}
{% assign contentBlock = page.body.content-block %}
{% assign cta = page.body.call-to-action %}

<div class="w-full h-screen-plus home-hero top-0">
  {% include image.html url=page.hero.image.url alt=page.hero.image.alt fit="crop" ar="9:16" lgar="16:9" lazy="false" width="100%" height="100%" block_classes="h-full w-full absolute z-10" classes="object-cover h-full w-full" %}
</div>

<div class="home-content">
  <!-- START: Feature -->
  <div class="md:flex md:mb-24">

    <div class="container md:hidden">
      <p class="p-large">{{ feature.text }}</p>
    </div>
    
    <div class="relative overflow-hidden md:w-1/2 lg:w-2/5 shrink-0 md:-ml-8 xl:-ml-18">
      {% for image in feature.images %}
        {% if forloop.first %}
          {% assign blockClasses = "w-2/3 md:w-3/5 block -ml-5 pt-16" %}
        {% else %}
          {% assign blockClasses = "w-2/3 md:w-3/5 block absolute top-0 -right-5 md:right-0 image-border-orange" %}
        {% endif %} 

        {% include image.html url=image.url alt=image.alt fit="crop" lazy="true" width="800" height="450" block_classes=blockClasses classes="" %}
      {% endfor %}
    </div>

    <div class="container md:grid md:grid-cols-6 md:gap-4 md:w-1/2 items-center">
      <div class="md:col-span-6 xxl:col-span-5">
        <p class="p-large mt-12">
          <span class="hidden md:inline">{{ feature.text }}</span>
          {{ feature.text2 }}
        </p>
        <div>
          <a href="{{ feature.link.path }}" class="link">{{ feature.link.text }}</a>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Feature -->
  
  <!-- START: Content -->
  <div class="flex flex-col">
    <div class="container order-2 md:order-1 md:grid md:grid-cols-12 md:gap-4 z-10">
      <div class="md:col-start-2 md:col-end-11 xl:col-end-9 xxl:col-end-7">
        <p>{{ contentBlock.text }}</p>
        <a href="{{ contentBlock.link.path }}" class="link">{{ contentBlock.link.text }}</a>
      </div>
    </div>
    <div class="order-1 md:order-2 overflow-hidden lg:-mt-[165px] mb-12">
      <div class="flex gap-4 md:gap-16 lg:gap-32 justify-start items-baseline" data-scroll-int data-scroll-direction="rtl">
        {% for image in contentBlock.images %}
        {% if image.ar == '4:6' %}
          {% assign width = 145 %}
          {% assign height = 218 %}
          {% assign blockClass = "w-[145px] h-[218px] sm:w-[190px] sm:h-[285px] md:w-[340px] md:h-[510px] lg:w-[536px] lg:h-[805px] shrink-0 object-cover" %}
        {% else %}
          {% assign width = 218 %}
          {% assign height = 145 %}
          {% assign blockClass = "h-[145px] w-[218px] sm:h-[190px] sm:w-[285px] md:h-[340px] md:w-[510px] lg:h-[536px] lg:w-[805px] shrink-0" %}
        {% endif %}
          {% include image.html url=image.url alt=image.alt ar=image.ar fit="crop" lazy="true" width=width height=height block_classes=blockClass classes="w-full h-full object-cover" %}
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- END: Content -->

  <!-- START: Mailchimp + Gift vouchers -->
  <div class="my-24 md:grid md:grid-cols-12 md:gap-4 md:gap-y-32 xxl:gap-y-4 lg:items-start xl:h-screen xxl:items-center md:container">
    <div class="container md:no-container b-orange c-grey-dark py-10 text-center
       md:bg-transparent md:c-beige md:col-start-3 md:col-end-11 xxl:col-start-2 xxl:col-end-6">
      <h2>{{ cta.title }}</h2>
      <p>{{ cta.text }}</p>
      <a href="{{ cta.link.path }}" target="{{ cta.link.target }}" class="link link--dark md:link--light">{{ cta.link.text }}</a>
    </div>
    <div class="container md:no-container b-green c-beige py-10 text-center
       md:bg-transparent md:col-start-3 md:col-end-11 xxl:col-start-8 xxl:col-end-12">
      <h2>Sign up for updates</h2>
      <p>Get the latest from the farm and be the first to know when we open reservations.</p>
      <div id="mc_embed_shell">
        <div id="mc_embed_signup">
          <form action="https://restaurantjericho.us17.list-manage.com/subscribe/post?u=d48794544bce58ea5c8d6ed0f&amp;id=f9691df7f4&amp;f_id=001c8ee2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group form-field">
                <label for="mce-EMAIL" class="sr-only">Email Address <span class="asterisk">*</span></label>
                <input type="email" name="EMAIL" class="required email input" id="mce-EMAIL" placeholder="Your email address" required value="">
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
              </div>

              <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display: none;"></div>
                <div class="response" id="mce-success-response" style="display: none;"></div>
              </div>
              <div aria-hidden="true" style="position: absolute; left: -5000px;">
                <input type="text" name="b_d48794544bce58ea5c8d6ed0f_f9691df7f4" tabindex="-1" value="">
              </div>
            </div>
          </form>
        </div>
        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='COMPANY';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      </div>
    </div>
  </div>
  <!-- END: Mailchimp + Gift vouchers -->

</div>