---
layout: default
---

{% assign hero = page.hero %}
{% assign feature = page.body.feature %}
{% assign textBlocks = page.body.textBlocks %}

{% comment %}
  {% if hero %}
    <!-- START: Hero -->
    {% assign heroClasses = "hero-image hero-image--" | append:hero.image.ar  %}
    {% if hero.align == 'left' %}
      {% assign blockClasses = "block w-full lg:self-start xl:self-center relative pt-5 lg:pt-24 xl:top-0 xl:right-12" %}
    {% else %}
      {% assign blockClasses = "block w-full lg:self-start xl:self-center relative pt-5 lg:pt-0 xl:top-0 xl:left-12" %}
    {% endif %}
    <section class="lg:flex lg:-mx-4 lg:container lg:relative {% if hero.align == 'left' %}lg:justify-end{% endif %} hero">
      <div class="relative z-10 mt-[175px] md:mt-8 lg:mt-16 lg:flex lg:max-w-7/12 xl:max-w-1/2 {% if hero.align == 'left' %}lg:order-2{% endif %}">
        
        {% include image.html url=hero.image.url alt=hero.image.alt fit="crop" lazy="false" width="820" height="547" block_classes=blockClasses classes=heroClasses ar="4:3" lgar=hero.image.ar %}
        
      </div>
      
      <div class="container -mt-8 md:-mt-24 relative z-10 lg:mt-0 lg:no-container lg:w-auto lg:mx-4 lg:absolute
        {% if hero.align == 'left' %}
          lg:order-1 lg:top-1/20
          {% if hero.image.ar == '3:4'%} lg:left-24 {% else %} lg:left-12 {% endif %}
        {% else %}
          lg:bottom-1/20
          {% if hero.image.ar == '3:4'%} lg:right-24 {% else %} lg:right-12 {% endif %}
        {% endif %}">
        <h1 class="awks:max-w-75vw lg:max-w-7/12 xl:max-w-2/3 {% if hero.align == 'right' %} ml-auto {% endif %}">{{ hero.text | widont }}</h1>
      </div>
    </section>
    <!-- END: Hero -->
  {% endif %}
{% endcomment %}

{% if hero %}
  <!-- START: Hero -->
  {% assign heroClasses = "hero-image hero-image--" | append:hero.image.ar  %}
  {% assign blockClasses = "flex justify-center" %}
  <section class="hero relative z-10 mt-[175px]
    md:mt-8
    lg:mt-0 lg:py-16 lg:container lg:grid lg:grid-cols-12 lg:gap-4
    xl:pb-8">
    <div class="pt-5 lg:pt-0 lg:col-span-7 lg:row-span-full xl:col-span-6
    {% if hero.align == 'left' %} lg:col-start-6 lg:self-end xl:col-start-7 xl:-ml-12 xl:pr-12 {% else %} lg:col-start-1 lg:col-end-8 lg:self-start xl:col-end-7 {% endif %}">
      {% include image.html url=hero.image.url alt=hero.image.alt fit="crop" lazy="false" width="820" height="547" block_classes=blockClasses classes=heroClasses ar="4:3" lgar=hero.image.ar %}
    </div>
    <div class="container -mt-12 relative z-20
      md:-mt-24
      lg:mt-0 lg:no-container lg:col-span-7 lg:row-span-full
      xl:col-span-8
      {% if hero.align == 'left' %} lg:col-start-1 lg:col-end-8 lg:self-start xl:col-end-9 {% else %} lg:col-start-6 lg:self-end xl:col-start-5 {% endif %}">
      <h1 class="">{{ hero.text | widont }}</h1>
    </div>
  </section>

  <!-- END: Hero -->
{% endif %}


{% if feature %}
<!-- START: Feature -->
<section class="my-12 lg:flex lg:items-center">
  {% if feature.images.size > 0 %}
  <div class="flex gap-6 mb-12 lg:mb-0 lg:w-1/2 lg:shrink-0 lg:gap-12 xl:gap-16 xxl:gap-20 items-center {% if feature.align == 'right' %} lg:order-2 {% endif %}">
    {% for image in feature.images %}
      {% if forloop.index > 1 and forloop.last %}
        {% assign blockClasses = "w-1/2 shrink-0" %}
      {% else  %}
        {% assign blockClasses = "" %}
      {% endif %}

      {% if feature.orientation == 'landscape' %}
        {% assign imageWidth = 700 %}
        {% assign imageHeight = 1000 %}
      {% else %}
        {% assign imageWidth = 1000 %}
        {% assign imageHeight = 700 %}
      {% endif %}

      {% include image.html url=image.url alt=image.alt fit="crop" lazy="true" width=imageWidth height=imageHeight  block_classes=blockClasses classes="" %}
    {% endfor %}
  </div>
  {% endif %}
  <div class="container grid grid-cols-5 lg:max-w-half-container {% if feature.align == 'right' %} lg:order-1 lg:ml-auto {% else %} lg:mr-auto {% endif %}">
    <p class="p-large col-span-5 xl:col-span-4 {% if feature.align == 'right' %}xl:col-start-2{% endif %}">{{ feature.text | newline_to_br | widont }}</p>
  </div>

</section>

<!-- END: Feature -->
{% endif %}

{% if textBlocks %}
<!-- START: Text Blocks -->
{% for block in textBlocks %}

  {% capture imagePosition %}
    {% cycle first: "lg:order-1 lg:self-start", "lg:order-3 lg:self-end" %}
  {% endcapture %}
  {% capture imageOrder %}
    {% cycle second: "lg:order-3 lg:mt-12", "lg:order-1 lg:mb-12" %}
  {% endcapture %}
  <section class="my-12 lg:my-24 overflow-hidden flex flex-wrap lg:flex-nowrap items-end lg:items-center justify-between gap-5 xl:gap-12">
    {% for image in block.images %}
        {% if image.orientation == 'landscape' %}
          {% assign imageWidth = 700 %}
          {% assign imageHeight = 1000 %}
          {% assign blockClasses = "w-7/12 shrink-0 -ml-6 md:-ml-12 lg:w-1/4 " | append: imagePosition %}
        {% else %}
          {% assign imageWidth = 1000 %}
          {% assign imageHeight = 700 %}
          {% assign blockClasses = "w-2/5 shrink-0 lg:w-1/4 xl:w-1/3" | append: imageOrder %}
        {% endif %}

        {% include image.html url=image.url alt=image.alt fit="crop" lazy="true" width=imageWidth height=imageHeight  block_classes=blockClasses classes="" %}
      {% endfor %}

    <div class="container lg:order-2">
      {% if block.heading %}
        <h2 class="text-lg awks:text-xl md:text-2xl font-serif font-thin leading-tight tracking-wide mb-8 md:mb-12">{{ block.heading }}</h2>
      {% endif %}
      <p>{{ block.text | newline_to_br | widont }}</p>
      {% if block.link %}
      <a href="{{ block.link.path }}" class="link">{{ block.link.text }}</a>
      {% endif %}
    </div>

  </section>

{% endfor %}
<!-- END: Text Blocks -->
{% endif %}

{% if page.url == "/food" %}
  {% if site.data.menus.size %}
  <!-- START: Menus -->
  <section class="container b-beige c-black pt-12 pb-[300px] md:pb-[240px] bg-leaf-orange">
    <div class="lg:w-5/6 lg:mx-auto">
      <h2>Sample Menus</h2>
      <div data-tabs>
        <div class="hidden tab-nav" data-tabs-nav>
          {% for menu in site.data.menus %}
          <button data-tabs-target="#menu-{{ forloop.index }}" class="tab-button">{{ menu.title }}</button>
          {% endfor %}
        </div>
        {% for menu in site.data.menus %}
          <h3 class="uppercase text-md font-semibold font-sans mb-4 md:mb-16" data-tabs-title>{{ menu.title }}</h3>
          <div id="menu-{{ forloop.index }}">
            <div class="md:flex md:justify-between md:mb-12">
              <div class="font-sans font-semibold text-base md:text-md mb-6 md:order-2">
                {{ menu.cost }}<br>
                {{ menu.drinks }}
              </div>
              <ul class="mb-12 font-light text-base md:text-md">
              {% for course in menu.courses %}
              <li class="-indent-2.5 ml-2.5 {% if course.space %} mb-6 {% endif %}">{{ course.description }}</li>
              {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- END: Menus -->
  {% endif %}
{% endif %}